<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hackerton.googlemap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" /> <!--  -->
    <!-- GPS 기능 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddReview2"></activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/fab_close" />

        <activity android:name=".WebViewActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".getAddress" />
        <activity android:name=".AddReview" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Content_Activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MyPage" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEqR94yw9ISJQEQlLXAahlgZmXU9qGOX0" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hackerton.googlemap"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>